In [32]:
print("Hello, Python World!")

Hello, Python World!

In [ ]:
Python Indentation

In [3]:
if (50 > 12):
   print("Five is greater than two!")
   print("------------End of if-----")
print("----------End of Code-----------")

Five is greater than two!
------------End of if-----
----------End of Code-----------

In [6]:
if 5 > 2:                            #error because their is no indentation
print("Five is greater than two!")

IndentationError: expected an indented block after 'if' statement on line 1 (1413630353.py, line 2)

In [7]:
if 5 > 2:
 print("Five is greater than two!")
        print("Five is greater than two!")

IndentationError: unexpected indent (3430240237.py, line 3)

In [ ]:
Python Variables

In [34]:
x = 5
y = "Hello, Python World!"
print(x)
print(type(x))
print(type(y))
x=True
print(type(x))

x=int(10)
print(x)
print(type(x))

5
<class 'int'>
<class 'str'>
<class 'bool'>
10
<class 'int'>

In [ ]:
Comments

In [35]:
#This is a comment.
print("Hello, Python World!")

Hello, Python World!

In [36]:
print("Hello, Python World!") #This is a comment

Hello, Python World!

In [37]:
#print("Hello, World!")
print("How are you?")

How are you?

In [ ]:
Multi Line Comments

In [38]:
#This is a comment
#written in
#more than just one line
print("Hello, Python World!")

Hello, Python World!

In [40]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, Python World!")

Hello, Python World!

In [ ]:
Python Variables

In [39]:
x = 15
y = "Prathamesh"
print(x)
print(y)

15
Prathamesh

In [41]:
x = 4 # x is of type int
x = "Prathamesh" # x is now of type str
print(x)

Prathamesh

In [43]:
x = "Prathamesh"
print(type(x))
# is the same as
x = 'Prathamesh'
print(type(x))
x="Student's"
print(x)
x='"Python" is interesting'
print(x)
x="a"
print(x)
print(type(x))

<class 'str'>
<class 'str'>
Student's
"Python" is interesting
a
<class 'str'>

In [ ]:
Variable Names

In [44]:
#Legal variable names:
myvar = "Prathamesh"
my_var = "Prathamesh"
_my_var = "Prathamesh"
myVar = "Prathamesh"
MYVAR = "Prathamesh"
myvar2 = "Prathamesh"

#Illegal variable names:
#2myvar = "Prathamesh"
my-var = "Prathamesh"
my var = "Prathamesh"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2279860653.py, line 11)

In [ ]:
Assign Value to Multiple Variables

In [18]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)
#x, y, z = "Orange", "Banana", "Cherry", "Apple" #too many values
#x, y, z = "Orange", "Banana" #not enough values
x,y=10, "abc"
print(x,y)
print(y)

Orange
Banana
Cherry
10 abc
abc

In [ ]:
And you can assign the same value to multiple variables in one line

In [49]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [ ]:
Output Variables

In [45]:
x = "easy"
print("Python is " + x)
x=10
print("x = "+x)

Python is easy

TypeError: can only concatenate str (not "int") to str

In [46]:
x = "Python is "
y = "intresting"
z =  x + y
print(z)

Python is intresting

In [22]:
x = 5
y = 10
print(x + y)

15

In [ ]:
If you try to combine a string and a number, Python will give you an error

In [47]:
x = 5
y = "Prathamesh"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
Global Variables

In [26]:
x = "Prathamesh"

#function definition
def myfunc():
  print("My name is " + x)

#function call
myfunc()
myfunc()
myfunc()

My name is Prathamesh
My name is Prathamesh
My name is Prathamesh

In [31]:
x = "21 years old"

def myfunc():
  x = "Prathamesh" #local copy
  print("My name is " + x)

myfunc()

print("I am " + x) #global

My name is Prathamesh
I am 21 years old

In [ ]:
The global Keyword

In [50]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [ ]:
To change the value of a global variable inside a function, refer to the variable by using the global keyword

In [ ]:
x = "awesome"

def myfunc():
  global x
  x = "easy"

myfunc()

print("Python is " + x)

In [ ]:
Python Data Types
Getting the Data Type

In [52]:
x = 5
print(type(x))

<class 'int'>

In [53]:
x = "Hello Python World"

#display x:
print(x)

#display the data type of x:
print(type(x))

Hello World
<class 'str'>

In [56]:
x = 15

#display x:
print(x)

#display the data type of x:
print(type(x))

15
<class 'int'>

In [57]:
x = 8.57

#display x:
print(x)

#display the data type of x:
print(type(x))

8.57
<class 'float'>

In [60]:
x = 2j

#display x:
print(x)

#display the data type of x:
print(type(x))

2j
<class 'complex'>

In [ ]:
name="Prathamesh"
code=2004
print(name +"  ",code)
print("Name : %s    Code : %d" %(name,code)) #Formated output

In [62]:
def addition(a,b):
    c=a+b
    return c

def add(a, b=5):
    c=a+b
    return c

def show(name="Prathamesh", code=50020, location="Thane"):
    print(name, code , location)

show()
show("Prathamesh S.", 400606,"abcd")
show(location="TH")
show(location="MUM", name="PRATHAMESH")


x=addition(10,20)
print(x)
x=addition(100,4000)
print(x)

print(add(10,30))
print(add(100))

Prathamesh 50020 Thane
Prathamesh S. 400606 abcd
Prathamesh 50020 TH
PRATHAMESH 50020 MUM
30
4100
40
105

In [63]:
print(2*3)
#print("2"*"3")
print("2"*3)
print(2*"3")

6
222
33

In [64]:
x = ["orange","apple", "banana", "cherry"]

#display x:
print(x)

#display the data type of x:
print(type(x))

['orange', 'apple', 'banana', 'cherry']
<class 'list'>

In [65]:
x = ("orange","apple", "banana", "cherry")

#display x:
print(x)

#display the data type of x:
print(type(x))

('orange', 'apple', 'banana', 'cherry')
<class 'tuple'>

In [66]:
x = range(6)

#display x:
print(x)

#display the data type of x:
print(type(x))

range(0, 6)
<class 'range'>

In [67]:
x = {"name" : "Prathamesh", "age" : 21}

#display x:
print(x)

#display the data type of x:
print(type(x))

{'name': 'Prathamesh', 'age': 21}
<class 'dict'>

In [68]:
x = set({"apple", "banana", "cherry","apple"})

#display x:
print(x)

#display the data type of x:
print(type(x))

{'apple', 'banana', 'cherry'}
<class 'set'>

In [69]:
x = frozenset({"apple", "banana", "cherry"})

#display x:
print(x)

#display the data type of x:
print(type(x))

frozenset({'apple', 'banana', 'cherry'})
<class 'frozenset'>

In [70]:
x = True

#display x:
print(x)

#display the data type of x:
print(type(x))

True
<class 'bool'>

In [71]:
x = b"Hello"

#display x:
print(x)

#display the data type of x:
print(type(x))

b'Hello'
<class 'bytes'>

In [72]:
x = bytearray(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [73]:
x = memoryview(bytes(5))

#display x:
print(x)

#display the data type of x:
print(type(x))

<memory at 0x000001AFC2F4EA40>
<class 'memoryview'>

In [ ]:
Setting the Specific Data Type

In [1]:
x = str("Hello Python World")

#display x:
print(x)

#display the data type of x:
print(type(x))

Hello Python World
<class 'str'>

In [2]:
x = int(15)

#display x:
print(x)

#display the data type of x:
print(type(x))

15
<class 'int'>

In [3]:
x = float(8.22)

#display x:
print(x)

#display the data type of x:
print(type(x))

8.22
<class 'float'>

In [4]:
x = complex(3j)

#display x:
print(x)

#display the data type of x:
print(type(x))

3j
<class 'complex'>

In [5]:
x = list(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x)) 
print(x[0])
print(len(x))

['apple', 'banana', 'cherry']
<class 'list'>
apple
3

In [6]:
x = tuple(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [8]:
x = range(7)

#display x:
print(x)

#display the data type of x:
print(type(x))

range(0, 7)
<class 'range'>

In [9]:
x = dict(name="Prathamesh", age=21)

#display x:
print(x)

#display the data type of x:
print(type(x))

{'name': 'Prathamesh', 'age': 21}
<class 'dict'>

In [10]:
x = set(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

{'apple', 'cherry', 'banana'}
<class 'set'>

In [11]:
x = frozenset(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

frozenset({'apple', 'cherry', 'banana'})
<class 'frozenset'>

In [13]:
x = bool(3)

#display x:
print(x)

#display the data type of x:
print(type(x))

True
<class 'bool'>

In [14]:
x = bytes(15)

#display x:
print(x)

#display the data type of x:
print(type(x))

b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00'
<class 'bytes'>

In [16]:
x = bytearray(15)

#display x:
print(x)

#display the data type of x:
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [17]:
x = memoryview(bytes(5))

#display x:
print(x)

#display the data type of x:
print(type(x))

<memory at 0x00000264C2411900>
<class 'memoryview'>

In [ ]:
Python Numbers

In [22]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
Int

In [23]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
Float

In [24]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
Float can also be scientific numbers with an "e" to indicate the power of 10

In [25]:
y = 12E4
z = -87.7e100
print(y)
print(z)
print(type(x))
print(type(y))
print(type(z))

120000.0
-8.77e+101
<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
Complex

In [26]:
x = 3+5j
y = 5j
z = -5j

print(x)
print(y)
print(z)
print(type(x))
print(type(y))
print(type(z))

(3+5j)
5j
(-0-5j)
<class 'complex'>
<class 'complex'>
<class 'complex'>

In [ ]:
Type Conversion

In [27]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [ ]:
Random Number

In [29]:
import random

def display(n):
    print(n)


display(random.randrange(1, 10))

6

In [ ]:
Python Casting

In [30]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
print(x)
print(y)
print(z)

1
2
3

In [31]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [32]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'
print(x)
print(y)
print(z)

s1
2
3.0

In [ ]:
Python Strings

In [33]:
print("Hey!!")
print('Hey!!')

Hey!!
Hey!!

In [ ]:
Assign String to a Variable

In [34]:
a = "Hey!!"
print(a)

Hey!!

In [ ]:
Multiline Strings

In [35]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [36]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [ ]:
Strings are Arrays

In [38]:
a = "Hello, Python World!"
print(a[7])

P

In [ ]:
Slicing

In [39]:
b = "Hello, Python World!"
print(b[0]) #display 0th index letter
print(b[2:5]) #display 2nd to 4th pos letters
print(b[7:]) #display string from 7th pos
print(b[:6]) #display till 5th
print(b[:]) #display all letters

H
llo
Python World!
Hello,
Hello, Python World!

In [ ]:
Negative Indexing

In [40]:
b = "Hello, Python World!"
print(b[-1])
print(b[-5:-2])
print(b[0:-1])
print(b[-10:-1])

!
orl
Hello, Python World
hon World

In [ ]:
String Length

In [42]:
a = "Hello, Python World!"
print(len(a))

20

In [ ]:
String Methods

In [43]:
a = " Hello, Python World! "
print(len(a))
print(len(a.strip()))

22
20

In [45]:
a = "Hello, Python World!"
print(a.lower())

hello, python world!

In [49]:
a = "Hello, World!"
print(a.replace(" ", " Python "))

Hello, Python World!

In [50]:
a = "Hello,Python World!"
print(a.split(",")) # returns ['Hello', ' World!']
a="Java C Python C++ .NET"
print(a)
l=a.split(" ")
print(l)
print("C++" in l)
print("C#" not in l)

['Hello', 'Python World!']
Java C Python C++ .NET
['Java', 'C', 'Python', 'C++', '.NET']
True
True

In [ ]:
Check String

In [51]:
txt = "The rain in Spain stays mainly in the plain"
x = "ain" in txt
print(x)

True

In [ ]:
String Concatenation

In [58]:
a = "Hello"
b = "Python"
c = "World"
d = a + b + c
print(d)

HelloPythonWorld

In [59]:
a = "Hello"
b = "Python"
c = "World"
d = a +" "+ b +" "+ c
print(d)

Hello Python World

In [ ]:
String Format

In [60]:
age = 21
txt = "My name is Prathamesh, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [61]:
age = 21
txt = "My name is Prathamesh, and I am {}"
print(txt.format(age))

My name is Prathamesh, and I am 21

In [62]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [63]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

myorder = "I want to pay {2} dollars for {0} pieces of item {1}. {2}"
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.
I want to pay 49.95 dollars for 3 pieces of item 567. 49.95

In [64]:
txt = "We are the so-called "Vikings" from the north."
print(txt)

SyntaxError: invalid syntax (4013392309.py, line 1)

In [65]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [ ]:
String Methods
Python Booleans

In [66]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [68]:
a = 20
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is greater than a

In [69]:
print(bool("Hello"))
print(bool(15))
print(bool(0))

True
True
False

In [70]:
x = "Byee"
y = 15

print(bool(x))
print(bool(y))

True
True

In [71]:
print(bool("xyz"))
print(bool(123))
print(bool(["apple", "cherry", "banana"]))

True
True
True

In [72]:
bool(False)
bool(0)
bool(None)
bool("")
bool(())
bool([])
bool({})

False

In [74]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [75]:
x = 200
print(isinstance(x, int))
print(isinstance(x, bool))

True
False

In [ ]:
Python Operators

In [76]:
x = 5
y = 10

print(x + y)

15

In [77]:
x = 5
y = 10

print(x * y)

50

In [78]:
x = 5
y = 10

print(x / y)

0.5

In [79]:
x = 5
y = 10

print(x % y)

5

In [80]:
x = 5
y = 10

print(x ** y)

9765625

In [82]:
x = 5
y = 10

print(x / y)
print(x // y)

0.5
0

In [ ]:
Python Assignment Operators

In [84]:
x = 5

print(x)

5

In [85]:
x = 5

x += 3

print(x)

8

In [86]:
x = 5

x -= 3

print(x)

2

In [87]:
x = 5

x *= 3

print(x)

15

In [88]:
x = 5

x /= 3

print(x)

1.6666666666666667

In [89]:
x = 5

x %= 3

print(x)

2

In [90]:
x = 5

x **= 3

print(x)

125

In [92]:
x = 5

x |= 3

print(x)

7

In [93]:
x = 5

x ^= 3

print(x)

6

In [94]:
x = 5

x >>= 3

print(x)

0

In [95]:
x = 5

x <<= 3

print(x)

40

In [ ]:
Python Comparison Operators

In [96]:
x = 5
y = 3

print(x == y)

False

In [97]:
x = 5
y = 3

print(x != y)

True

In [98]:
x = 5
y = 3

print(x > y)

True

In [99]:
x = 5
y = 3

print(x < y)

False

In [100]:
x = 5
y = 3

print(x >= y)

True

In [101]:
x = 5
y = 3

print(x <= y)

False

In [ ]:
Python Logical Operators

In [102]:
x = 5

print(x > 3 and x < 10)

True

In [103]:
x = 5

print(x > 3 or x < 4)

True

In [104]:
x = 5

print(not(x > 3 and x < 10))

False

In [ ]:
Python Identity Operators

In [107]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)
print(x is y) 
print(x == y)

True
False
True

In [109]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)
print(x is not y)
print(x != y)

False
True
False

In [ ]:
Python Membership Operators

In [110]:
x = ["apple", "banana"]

print("banana" in x)

True

In [111]:
x = ["apple", "banana"]

print("pineapple" not in x)

True

In [ ]:
Python Bitwise Operators
Python Lists
List

In [113]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [ ]:
Access Items

In [116]:
thislist = ["apple", "banana", "cherry"]
print(thislist[2])

cherry

In [ ]:
Negative Indexing

In [117]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [ ]:
Range of Indexes

In [118]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [119]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [120]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
Range of Negative Indexes

In [121]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [ ]:
Change Item Value

In [122]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [ ]:
Loop Through a List

In [123]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [ ]:
Check if Item Exists

In [125]:
thislist = ["apple", "banana", "cherry"]
if "cherry" in thislist:
  print("Yes, 'cherry' is in the fruits list")

Yes, 'cherry' is in the fruits list

In [ ]:
List Length

In [126]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [ ]:
Add Items

In [127]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [128]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [ ]:
Remove Item

In [131]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("apple")
print(thislist)

['banana', 'cherry']

In [133]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [134]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [135]:
thislist = ["apple", "banana", "cherry"]
del thislist
print(thislist)

NameError: name 'thislist' is not defined

In [136]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [ ]:
Copy a List

In [138]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [139]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [ ]:
Join Two Lists

In [140]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [141]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
Use the extend() method to add list2 at the end of list1

In [142]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
The list() Constructor

In [144]:
thislist = list(("apple", "banana", "cherry"))
print(thislist)

['apple', 'banana', 'cherry']

In [ ]:
List Methods
Tuple

In [145]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [ ]:
Access Tuple Items

In [146]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [ ]:
Negative Indexing

In [148]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-2])

banana

In [ ]:
Range of Indexes

In [149]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [ ]:
Range of Negative Indexes

In [150]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [ ]:
Change Tuple Values

In [151]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "mango"
x = tuple(y)

print(x)

('apple', 'mango', 'cherry')

In [ ]:
Loop Through a Tuple

In [153]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [ ]:
Check if Item Exists

In [154]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [ ]:
Tuple Length

In [155]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [ ]:
Add Items

In [157]:
thistuple = ("apple", "banana", "cherry")
thistuple[3] = "orange" # This will raise an error
print(thistuple)

TypeError: 'tuple' object does not support item assignment

In [ ]:
Create Tuple With One Item

In [158]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [ ]:
Remove Items

In [159]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple)

NameError: name 'thistuple' is not defined

In [ ]:
Join Two Tuples

In [160]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [ ]:
The tuple() Constructor

In [162]:

thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [ ]:
Set

In [163]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

In [ ]:
Access Items

In [164]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
cherry
banana

In [ ]:
Change Items

In [166]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'orange', 'apple', 'cherry', 'banana'}

In [167]:
thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'orange', 'banana', 'mango', 'apple', 'grapes', 'cherry'}

In [ ]:
Get the Length of a Set

In [168]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [ ]:
Remove Item

In [170]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("cherry")

print(thisset)

{'apple', 'banana'}

In [172]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("cherry")

print(thisset)

{'apple', 'banana'}

In [175]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

apple
{'cherry', 'banana'}

In [176]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [177]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

In [ ]:
Join Two Sets

In [179]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'c', 'b'}

In [180]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'a', 'c', 'b'}

In [ ]:
The set() Constructor

In [181]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'cherry', 'banana'}

In [ ]:
Set Methods
Dictionary

In [182]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
Accessing Items

In [183]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)

Mustang

In [184]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict.get("model")
print(x)

Mustang

In [ ]:
Change Values

In [188]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [ ]:
Loop Through a Dictionary

In [189]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(x)

brand
model
year

In [190]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(thisdict[x])

Ford
Mustang
1964

In [191]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict.values():
  print(x)

Ford
Mustang
1964

In [192]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 1964

In [ ]:
Check if Key Exists

In [193]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

In [ ]:
Dictionary Length

In [194]:
print(len(thisdict))

3

In [ ]:
Adding Items

In [195]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [ ]:
Removing Items

In [196]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [197]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [198]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [199]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict)

NameError: name 'thisdict' is not defined

In [200]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

In [ ]:
Copy a Dictionary

In [201]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
Another way to make a copy is to use the built-in function dict()

In [202]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
Nested Dictionaries

In [203]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [ ]:
Create three dictionaries, then create one dictionary that will contain the other three dictionaries

In [204]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [ ]:
The dict() Constructor

In [206]:
thisdict = dict(brand="Ford", model="Mustang", year=1964)
# note that keywords are not string literals
# note the use of equals rather than colon for the assignment
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
Python If ... Else

In [207]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [ ]:
Indentation

In [208]:
a = 33
b = 200

if b > a:
print("b is greater than a")

IndentationError: expected an indented block after 'if' statement on line 4 (170397834.py, line 5)

In [ ]:
Elif

In [209]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [ ]:
Else

In [210]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [211]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [ ]:
Short Hand If

In [212]:
if a > b: print("a is greater than b")

a is greater than b

In [ ]:
Short Hand If ... Else

In [213]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [214]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

In [ ]:
And

In [215]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [ ]:
Or

In [216]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [ ]:
Nested If

In [217]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

In [ ]:
The pass Statement

In [218]:
a = 33
b = 200

if b > a:
  pass

In [ ]:
Python Loops

The while Loop

In [219]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
The break Statement

In [220]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [ ]:
The continue Statement

In [221]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [ ]:
The else Statement

In [222]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [ ]:
Python For Loops

In [223]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
Looping Through a String

In [224]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
The break Statement

In [225]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [226]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [ ]:
The continue Statement

In [227]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [ ]:
The range() Function

In [228]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [229]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [230]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [ ]:
Else in For Loop

In [232]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [ ]:
Nested Loops

In [233]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [ ]:
The pass Statement

In [234]:
for x in [0, 1, 2]:
  pass

In [ ]:
Python Functions
Creating a Function

In [235]:
def my_function():
  print("Hello from a function")

In [ ]:
Calling a Function

In [236]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [ ]:
Arguments

In [237]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [ ]:
Number of Arguments

In [240]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil")

TypeError: my_function() missing 1 required positional argument: 'lname'

In [ ]:
Arbitrary Arguments, *args

In [241]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [ ]:
Keyword Arguments

In [242]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [ ]:
Default Parameter Value

In [243]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [ ]:
Passing a List as an Argument

In [244]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [ ]:
Return Values

In [245]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [ ]:
The pass Statement

In [246]:

def myfunction():
  pass

In [ ]:
Python Lambda
Syntax

In [247]:
x = lambda a : a + 10
print(x(5))

15

In [248]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [249]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [ ]:
Python User Input

In [250]:
username = input("Enter username:")
print("Username is: " + username)

Enter username: Prathamesh

Username is: Prathamesh