In [224]:
print("Hello, Python World!")

Hello, Python World!

In [225]:
Python Indentation

SyntaxError: invalid syntax (1248603898.py, line 1)

In [ ]:
if (50 > 12):
   print("Five is greater than two!")
   print("------------End of if-----")
print("----------End of Code-----------")

In [ ]:
if 5 > 2:                            #error because their is no indentation
print("Five is greater than two!")

In [ ]:
if 5 > 2:
 print("Five is greater than two!")
        print("Five is greater than two!")

In [ ]:
Python Variables

In [ ]:
x = 5
y = "Hello, Python World!"
print(x)
print(type(x))
print(type(y))
x=True
print(type(x))

x=int(10)
print(x)
print(type(x))

In [ ]:
Comments

In [ ]:
#This is a comment.
print("Hello, Python World!")

In [ ]:
print("Hello, Python World!") #This is a comment

In [226]:
#print("Hello, World!")
print("How are you?")

How are you?

In [227]:
Multi Line Comments

SyntaxError: invalid syntax (4219932589.py, line 1)

In [ ]:
#This is a comment
#written in
#more than just one line
print("Hello, Python World!")

In [ ]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, Python World!")

In [ ]:
Python Variables

In [ ]:
x = 15
y = "Samiksha"
print(x)
print(y)

In [ ]:
x = 4 # x is of type int
x = "Samiksha" # x is now of type str
print(x)

In [ ]:
x = "Samiksha"
print(type(x))
# is the same as
x = 'Samiksha'
print(type(x))
x="Student's"
print(x)
x='"Python" is interesting'
print(x)
x="a"
print(x)
print(type(x))

In [ ]:
Variable Names

In [ ]:
#Legal variable names:
myvar = "Samiksha"
my_var = "Samiksha"
_my_var = "Samiksha"
myVar = "Samiksha"
MYVAR = "Samiksha"
myvar2 = "Samiksha"

#Illegal variable names:
#2myvar = "Samiksha"
my-var = "Samiksha"
my var = "Samiksha"

In [228]:
Assign Value to Multiple Variables

SyntaxError: invalid syntax (576884303.py, line 1)

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)
#x, y, z = "Orange", "Banana", "Cherry", "Apple" #too many values
#x, y, z = "Orange", "Banana" #not enough values
x,y=10, "abc"
print(x,y)
print(y)

In [ ]:
And you can assign the same value to multiple variables in one line

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

In [ ]:
Output Variables

In [ ]:
x = "easy"
print("Python is " + x)
x=10
print("x = "+x)

In [ ]:
x = "Python is "
y = "intresting"
z =  x + y
print(z)

In [ ]:
x = 5
y = 10
print(x + y)

In [ ]:
If you try to combine a string and a number, Python will give you an error

In [ ]:
x = 5
y = "Samiksha"
print(x + y)

In [ ]:
Global Variables

In [ ]:
x = "Samiksha"

#function definition
def myfunc():
  print("My name is " + x)

#function call
myfunc()
myfunc()
myfunc()

In [229]:
x = "21 years old"

def myfunc():
  x = "Samiksha" #local copy
  print("My name is " + x)

myfunc()

print("I am " + x) #global

My name is Samiksha
I am 21 years old

In [230]:
The global Keyword

SyntaxError: invalid syntax (3643924968.py, line 1)

In [ ]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

In [ ]:
To change the value of a global variable inside a function, refer to the variable by using the global keyword

In [ ]:
x = "awesome"

def myfunc():
  global x
  x = "easy"

myfunc()

print("Python is " + x)

In [ ]:
Python Data Types
Getting the Data Type

In [ ]:
x = 5
print(type(x))

In [ ]:
x = "Hello Python World"

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
x = 15

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
x = 8.57

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
x = 2j

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
name="Samiksha"
code=2004
print(name +"  ",code)
print("Name : %s    Code : %d" %(name,code)) #Formated output

In [ ]:
def addition(a,b):
    c=a+b
    return c

def add(a, b=5):
    c=a+b
    return c

def show(name="Samiksha", code=50020, location="Thane"):
    print(name, code , location)

show()
show("Samiksha S.", 400606,"abcd")
show(location="TH")
show(location="MUM", name="Samiksha")


x=addition(10,20)
print(x)
x=addition(100,4000)
print(x)

print(add(10,30))
print(add(100))

In [ ]:
print(2*3)
#print("2"*"3")
print("2"*3)
print(2*"3")

In [ ]:
x = ["orange","apple", "banana", "cherry"]

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
x = ("orange","apple", "banana", "cherry")

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
x = range(6)

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
x = {"name" : "Samiksha", "age" : 21}

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
x = set({"apple", "banana", "cherry","apple"})

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
x = frozenset({"apple", "banana", "cherry"})

#display x:
print(x)

#display the data type of x:
print(type(x))

In [231]:
x = True

#display x:
print(x)

#display the data type of x:
print(type(x))

True
<class 'bool'>

In [232]:
x = b"Hello"

#display x:
print(x)

#display the data type of x:
print(type(x))

b'Hello'
<class 'bytes'>

In [233]:
x = bytearray(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [234]:
x = memoryview(bytes(5))

#display x:
print(x)

#display the data type of x:
print(type(x))

<memory at 0x000001B32BBF2380>
<class 'memoryview'>

In [235]:
Setting the Specific Data Type

SyntaxError: invalid syntax (1385772930.py, line 1)

In [ ]:
x = str("Hello Python World")

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
x = int(15)

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
x = float(8.22)

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
x = complex(3j)

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
x = list(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x)) 
print(x[0])
print(len(x))

In [ ]:
x = tuple(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
x = range(7)

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
x = dict(name="Samiksha", age=21)

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
x = set(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
x = frozenset(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
x = bool(3)

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
x = bytes(15)

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
x = bytearray(15)

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
x = memoryview(bytes(5))

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
Python Numbers

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

In [ ]:
Int

In [ ]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

In [ ]:
Float

In [ ]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

In [ ]:
Float can also be scientific numbers with an "e" to indicate the power of 10

In [ ]:
y = 12E4
z = -87.7e100
print(y)
print(z)
print(type(x))
print(type(y))
print(type(z))

In [ ]:
Complex

In [ ]:
x = 3+5j
y = 5j
z = -5j

print(x)
print(y)
print(z)
print(type(x))
print(type(y))
print(type(z))

In [ ]:
Type Conversion

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

In [ ]:
Random Number

In [ ]:
import random

def display(n):
    print(n)


display(random.randrange(1, 10))

In [236]:
Python Casting

SyntaxError: invalid syntax (1240161818.py, line 1)

In [ ]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
print(x)
print(y)
print(z)

In [ ]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2
print(x)
print(y)
print(z)
print(w)

In [ ]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'
print(x)
print(y)
print(z)

In [ ]:
Python Strings

In [ ]:
print("Hey!!")
print('Hey!!')

In [ ]:
Assign String to a Variable

In [ ]:
a = "Hey!!"
print(a)

In [ ]:
Multiline Strings

In [ ]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

In [ ]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

In [ ]:
Strings are Arrays

In [ ]:
a = "Hello, Python World!"
print(a[7])

In [ ]:
Slicing

In [ ]:
b = "Hello, Python World!"
print(b[0]) #display 0th index letter
print(b[2:5]) #display 2nd to 4th pos letters
print(b[7:]) #display string from 7th pos
print(b[:6]) #display till 5th
print(b[:]) #display all letters

In [ ]:
Negative Indexing

In [ ]:
b = "Hello, Python World!"
print(b[-1])
print(b[-5:-2])
print(b[0:-1])
print(b[-10:-1])

In [ ]:
String Length

In [ ]:
a = "Hello, Python World!"
print(len(a))

In [ ]:
String Methods

In [ ]:
a = " Hello, Python World! "
print(len(a))
print(len(a.strip()))

In [ ]:
a = "Hello, Python World!"
print(a.lower())

In [ ]:
a = "Hello, World!"
print(a.replace(" ", " Python "))

In [ ]:
a = "Hello,Python World!"
print(a.split(",")) # returns ['Hello', ' World!']
a="Java C Python C++ .NET"
print(a)
l=a.split(" ")
print(l)
print("C++" in l)
print("C#" not in l)

In [ ]:
Check String

In [ ]:
txt = "The rain in Spain stays mainly in the plain"
x = "ain" in txt
print(x)

In [ ]:
String Concatenation

In [ ]:
a = "Hello"
b = "Python"
c = "World"
d = a + b + c
print(d)

In [ ]:
a = "Hello"
b = "Python"
c = "World"
d = a +" "+ b +" "+ c
print(d)

In [ ]:
String Format

In [ ]:
age = 21
txt = "My name is Samiksha, I am " + age
print(txt)

In [ ]:
age = 21
txt = "My name is Samiksha, and I am {}"
print(txt.format(age))

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

In [237]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

myorder = "I want to pay {2} dollars for {0} pieces of item {1}. {2}"
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.
I want to pay 49.95 dollars for 3 pieces of item 567. 49.95

In [238]:
txt = "We are the so-called "Vikings" from the north."
print(txt)

SyntaxError: invalid syntax (4013392309.py, line 1)

In [ ]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

In [ ]:
String Methods
Python Booleans

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

In [ ]:
a = 20
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

In [ ]:
print(bool("Hello"))
print(bool(15))
print(bool(0))

In [ ]:
x = "Byee"
y = 15

print(bool(x))
print(bool(y))

In [ ]:
print(bool("xyz"))
print(bool(123))
print(bool(["apple", "cherry", "banana"]))

In [ ]:
bool(False)
bool(0)
bool(None)
bool("")
bool(())
bool([])
bool({})

In [ ]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

In [ ]:
x = 200
print(isinstance(x, int))
print(isinstance(x, bool))

In [ ]:
Python Operators

In [ ]:
x = 5
y = 10

print(x + y)

In [ ]:
x = 5
y = 10

print(x * y)

In [ ]:
x = 5
y = 10

print(x / y)

In [ ]:
x = 5
y = 10

print(x % y)

In [ ]:
x = 5
y = 10

print(x ** y)

In [ ]:
x = 5
y = 10

print(x / y)
print(x // y)

In [ ]:
Python Assignment Operators

In [ ]:
x = 5

print(x)

In [ ]:
x = 5

x += 3

print(x)

In [ ]:
x = 5

x -= 3

print(x)

In [ ]:
x = 5

x *= 3

print(x)

In [ ]:
x = 5

x /= 3

print(x)

In [ ]:
x = 5

x %= 3

print(x)

In [ ]:
x = 5

x **= 3

print(x)

In [ ]:
x = 5

x |= 3

print(x)

In [ ]:
x = 5

x ^= 3

print(x)

In [ ]:
x = 5

x >>= 3

print(x)

In [ ]:
x = 5

x <<= 3

print(x)

In [ ]:
Python Comparison Operators

In [ ]:
x = 5
y = 3

print(x == y)

In [ ]:
x = 5
y = 3

print(x != y)

In [ ]:
x = 5
y = 3

print(x > y)

In [ ]:
x = 5
y = 3

print(x < y)

In [ ]:
x = 5
y = 3

print(x >= y)

In [ ]:
x = 5
y = 3

print(x <= y)

In [ ]:
Python Logical Operators

In [ ]:
x = 5

print(x > 3 and x < 10)

In [ ]:
x = 5

print(x > 3 or x < 4)

In [ ]:
x = 5

print(not(x > 3 and x < 10))

In [ ]:
Python Identity Operators

In [ ]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)
print(x is y) 
print(x == y)

In [239]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)
print(x is not y)
print(x != y)

False
True
False

In [240]:
Python Membership Operators

SyntaxError: invalid syntax (4242072353.py, line 1)

In [ ]:
x = ["apple", "banana"]

print("banana" in x)

In [ ]:
x = ["apple", "banana"]

print("pineapple" not in x)

In [ ]:
Python Bitwise Operators
Python Lists
List

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

In [ ]:
Access Items

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[2])

In [ ]:
Negative Indexing

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

In [ ]:
Range of Indexes

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

In [ ]:
Range of Negative Indexes

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

In [ ]:
Change Item Value

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

In [ ]:
Loop Through a List

In [ ]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

In [ ]:
Check if Item Exists

In [ ]:
thislist = ["apple", "banana", "cherry"]
if "cherry" in thislist:
  print("Yes, 'cherry' is in the fruits list")

In [ ]:
List Length

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

In [ ]:
Add Items

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

In [ ]:
Remove Item

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("apple")
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

In [ ]:
Copy a List

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

In [ ]:
Join Two Lists

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

In [ ]:
Use the extend() method to add list2 at the end of list1

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

In [ ]:
The list() Constructor

In [ ]:
thislist = list(("apple", "banana", "cherry"))
print(thislist)

In [ ]:
List Methods
Tuple

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

In [ ]:
Access Tuple Items

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

In [ ]:
Negative Indexing

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-2])

In [ ]:
Range of Indexes

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

In [ ]:
Range of Negative Indexes

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

In [ ]:
Change Tuple Values

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "mango"
x = tuple(y)

print(x)

In [241]:
Loop Through a Tuple

SyntaxError: invalid syntax (1094099654.py, line 1)

In [244]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [245]:
Check if Item Exists

SyntaxError: expected 'else' after 'if' expression (1672279724.py, line 1)

In [246]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [247]:
Tuple Length

SyntaxError: invalid syntax (71820459.py, line 1)

In [248]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [249]:
Add Items

SyntaxError: invalid syntax (2576347166.py, line 1)

In [250]:
thistuple = ("apple", "banana", "cherry")
thistuple[3] = "orange" # This will raise an error
print(thistuple)

TypeError: 'tuple' object does not support item assignment

In [251]:
Create Tuple With One Item

SyntaxError: invalid syntax (1626119899.py, line 1)

In [252]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [253]:
Remove Items

SyntaxError: invalid syntax (3774492336.py, line 1)

In [254]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple)

NameError: name 'thistuple' is not defined

In [255]:
Join Two Tuples

SyntaxError: invalid syntax (1374323602.py, line 1)

In [256]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [257]:
The tuple() Constructor

SyntaxError: invalid syntax (26025420.py, line 1)

In [258]:

thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [259]:
Set

NameError: name 'Set' is not defined

In [260]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'apple', 'cherry'}

In [261]:
Access Items

SyntaxError: invalid syntax (645580910.py, line 1)

In [262]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
apple
cherry

In [263]:
Change Items

SyntaxError: invalid syntax (1391736596.py, line 1)

In [264]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'banana', 'apple', 'cherry', 'orange'}

In [265]:
thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'banana', 'cherry', 'grapes', 'orange', 'apple', 'mango'}

In [266]:
Get the Length of a Set

SyntaxError: invalid syntax (1306006041.py, line 1)

In [267]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [268]:
Remove Item

SyntaxError: invalid syntax (3318696100.py, line 1)

In [269]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("cherry")

print(thisset)

{'banana', 'apple'}

In [270]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("cherry")

print(thisset)

{'banana', 'apple'}

In [271]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

banana
{'apple', 'cherry'}

In [272]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [273]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

In [274]:
Join Two Sets

SyntaxError: invalid syntax (1484625232.py, line 1)

In [275]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 'c', 3, 'b', 'a'}

In [276]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 'c', 3, 'b', 'a'}

In [277]:
The set() Constructor

SyntaxError: invalid syntax (4105191691.py, line 1)

In [278]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'banana', 'apple', 'cherry'}

In [279]:
Set Methods
Dictionary

SyntaxError: invalid syntax (204364158.py, line 1)

In [280]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [281]:
Accessing Items

SyntaxError: invalid syntax (668152451.py, line 1)

In [282]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)

Mustang

In [283]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict.get("model")
print(x)

Mustang

In [284]:
Change Values

SyntaxError: invalid syntax (4047963166.py, line 1)

In [285]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [286]:
Loop Through a Dictionary

SyntaxError: invalid syntax (3955669242.py, line 1)

In [287]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(x)

brand
model
year

In [288]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(thisdict[x])

Ford
Mustang
1964

In [289]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict.values():
  print(x)

Ford
Mustang
1964

In [290]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 1964

In [291]:
Check if Key Exists

SyntaxError: expected 'else' after 'if' expression (3172084045.py, line 1)

In [292]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

In [293]:
Dictionary Length

SyntaxError: invalid syntax (2823453213.py, line 1)

In [294]:
print(len(thisdict))

3

In [295]:
Adding Items

SyntaxError: invalid syntax (619821536.py, line 1)

In [296]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [297]:
Removing Items

SyntaxError: invalid syntax (3480979561.py, line 1)

In [298]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [299]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [300]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [301]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict)

NameError: name 'thisdict' is not defined

In [302]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

In [303]:
Copy a Dictionary

SyntaxError: invalid syntax (1959341799.py, line 1)

In [304]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [305]:
Another way to make a copy is to use the built-in function dict()

SyntaxError: invalid syntax (1826212970.py, line 1)

In [306]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [307]:
Nested Dictionaries

SyntaxError: invalid syntax (3652503662.py, line 1)

In [308]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [309]:
Create three dictionaries, then create one dictionary that will contain the other three dictionaries

SyntaxError: invalid syntax (353447853.py, line 1)

In [310]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [311]:
The dict() Constructor

SyntaxError: invalid syntax (3519566038.py, line 1)

In [312]:
thisdict = dict(brand="Ford", model="Mustang", year=1964)
# note that keywords are not string literals
# note the use of equals rather than colon for the assignment
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [313]:
Python If ... Else

SyntaxError: invalid syntax (2837025215.py, line 1)

In [314]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [315]:
Indentation

NameError: name 'Indentation' is not defined

In [316]:
a = 33
b = 200

if b > a:
print("b is greater than a")

IndentationError: expected an indented block after 'if' statement on line 4 (170397834.py, line 5)

In [317]:
Elif

NameError: name 'Elif' is not defined

In [318]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [319]:
Else

NameError: name 'Else' is not defined

In [320]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [321]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [322]:
Short Hand If

SyntaxError: invalid syntax (582445505.py, line 1)

In [323]:
if a > b: print("a is greater than b")

a is greater than b

In [324]:
Short Hand If ... Else

SyntaxError: invalid syntax (1358979340.py, line 1)

In [325]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [326]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

In [327]:
And

NameError: name 'And' is not defined

In [328]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [329]:
Or

NameError: name 'Or' is not defined

In [330]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [331]:
Nested If

SyntaxError: invalid syntax (3089792054.py, line 1)

In [332]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

In [333]:
The pass Statement

SyntaxError: invalid syntax (510741844.py, line 1)

In [334]:
a = 33
b = 200

if b > a:
  pass

In [335]:
Python Loops

The while Loop

SyntaxError: invalid syntax (3127707254.py, line 1)

In [336]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [337]:
The break Statement

SyntaxError: invalid syntax (352373853.py, line 1)

In [338]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [339]:
The continue Statement

SyntaxError: invalid syntax (1854507427.py, line 1)

In [340]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [341]:
The else Statement

SyntaxError: invalid syntax (2781397307.py, line 1)

In [342]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [343]:
Python For Loops

SyntaxError: invalid syntax (2914067059.py, line 1)

In [344]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [345]:
Looping Through a String

SyntaxError: invalid syntax (135043087.py, line 1)

In [346]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [347]:
The break Statement

SyntaxError: invalid syntax (352373853.py, line 1)

In [348]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [349]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [350]:
The continue Statement

SyntaxError: invalid syntax (1854507427.py, line 1)

In [351]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [352]:
The range() Function

SyntaxError: invalid syntax (2814338876.py, line 1)

In [353]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [354]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [355]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [356]:
Else in For Loop

SyntaxError: invalid syntax (1532364813.py, line 1)

In [357]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [358]:
Nested Loops

SyntaxError: invalid syntax (4067261274.py, line 1)

In [359]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [360]:
The pass Statement

SyntaxError: invalid syntax (510741844.py, line 1)

In [361]:
for x in [0, 1, 2]:
  pass

In [362]:
Python Functions
Creating a Function

SyntaxError: invalid syntax (4088138788.py, line 1)

In [363]:
def my_function():
  print("Hello from a function")

In [364]:
Calling a Function

SyntaxError: invalid syntax (72572513.py, line 1)

In [365]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [366]:
Arguments

NameError: name 'Arguments' is not defined

In [367]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [368]:
Number of Arguments

SyntaxError: invalid syntax (3027381869.py, line 1)

In [369]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil")

TypeError: my_function() missing 1 required positional argument: 'lname'

In [370]:
Arbitrary Arguments, *args

SyntaxError: invalid syntax (985917112.py, line 1)

In [371]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [372]:
Keyword Arguments

SyntaxError: invalid syntax (2643141655.py, line 1)

In [373]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [374]:
Default Parameter Value

SyntaxError: invalid syntax (3319252622.py, line 1)

In [375]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [376]:
Passing a List as an Argument

SyntaxError: invalid syntax (2558115295.py, line 1)

In [377]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [378]:
Return Values

SyntaxError: invalid syntax (3158663667.py, line 1)

In [379]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [380]:
The pass Statement

SyntaxError: invalid syntax (510741844.py, line 1)

In [381]:

def myfunction():
  pass

In [382]:
Python Lambda
Syntax

SyntaxError: invalid syntax (2927888698.py, line 1)

In [383]:
x = lambda a : a + 10
print(x(5))

15

In [384]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [385]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [386]:
Python User Input

SyntaxError: invalid syntax (1352543179.py, line 1)

In [387]:
username = input("Enter username:")
print("Username is: " + username)

Enter username: Samiksha

Username is: Samiksha